In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
gene_presence_absence = pd.read_csv('gene_presence_absence.csv')
gene_presence_absence_variable = gene_presence_absence[(gene_presence_absence['No. isolates']!=299) & (gene_presence_absence['No. isolates']!=1)].reset_index(drop=True)
gene_presence_absence_variable

/tmp/ipykernel_5841/505242616.py:1: DtypeWarning: Columns (16,17,18,19,21,22,24,26,28,29,31,32,33,34,35,37,38,39,40,41,42,43,45,46,47,48,51,52,55,56,57,58,60,61,63,64,66,67,68,70,71,72,73,74,76,79,80,83,84,85,86,89,90,91,92,93,94,95,99,100,101,102,104,106,109,111,113,115,116,117,119,120,123,124,126,127,128,129,132,137,141,142,145,147,151,153,154,156,158,162,164,169,170,180,185,186,188,202,205,210,217,222,228,230,231,242,247,252,253,254,255,257,259,267,270,271,273,274,277,278,279,280,281,286,292,293,294,295,299,300,301,307,309,312) have mixed types. Specify dtype option on import or set low_memory=False.
  gene_presence_absence = pd.read_csv('gene_presence_absence.csv')

,Gene,Non-unique Gene name,Annotation,No. isolates,No. sequences,Avg sequences per isolate,Genome Fragment,Order within Fragment,Accessory Fragment,Accessory Order with Fragment,...,UWI274,UWI275,UWI276,UWI277,UWI278,UWI279,UWI280,UWI281,UWI282,UWI283
0,ssb,NaN,Single-stranded DNA-binding protein,298,298,1.0,1,1046,NaN,NaN,...,EIHNFNGH_00744,JAOEBLJL_00727,FGBJGDLG_00114,LAHDIDME_00738,CNOGPEJI_00113,MINBPFOJ_00112,NNJHNEGP_00113,PIBNFHBP_00386,KIBPMEFM_00112,OIHGLMEF_00112
1,group_3572,NaN,hypothetical protein,298,298,1.0,1,1042,NaN,NaN,...,EIHNFNGH_00748,JAOEBLJL_00731,FGBJGDLG_00110,LAHDIDME_00742,CNOGPEJI_00109,MINBPFOJ_00108,NNJHNEGP_00109,PIBNFHBP_00382,KIBPMEFM_00108,OIHGLMEF_00108
2,gtaB,NaN,UTP--glucose-1-phosphate uridylyltransferase,298,298,1.0,1,1176,NaN,NaN,...,EIHNFNGH_00651,JAOEBLJL_00636,FGBJGDLG_00215,LAHDIDME_00646,CNOGPEJI_00203,MINBPFOJ_00204,NNJHNEGP_00206,PIBNFHBP_00475,KIBPMEFM_00204,OIHGLMEF_00204
3,group_3589,NaN,hypothetical protein,298,298,1.0,1,1823,NaN,NaN,...,EIHNFNGH_00260,JAOEBLJL_00250,FGBJGDLG_00619,LAHDIDME_00254,CNOGPEJI_00582,MINBPFOJ_00596,NNJHNEGP_00597,PIBNFHBP_00847,KIBPMEFM_00597,OIHGLMEF_00595
4,group_3595,NaN,hypothetical protein,298,298,1.0,1,2088,NaN,NaN,...,EIHNFNGH_00067,JAOEBLJL_00059,FGBJGDLG_00825,LAHDIDME_00061,CNOGPEJI_00774,MINBPFOJ_00789,NNJHNEGP_00789,PIBNFHBP_01042,KIBPMEFM_00791,OIHGLMEF_00787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5336,group_9749,NaN,hypothetical protein,2,2,1.0,1,85,1.0,2976.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5337,group_977,NaN,hypothetical protein,2,2,1.0,1,5340,1.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5338,group_979,NaN,hypothetical protein,2,2,1.0,1,5329,1.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5339,group_985,NaN,hypothetical protein,2,2,1.0,1175,1,1577.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5340,group_99,NaN,hypothetical protein,2,2,1.0,1527,1,1632.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
isolates = [gff.strip('.gff') for gff in os.listdir('../gff/')]; assert len(isolates)==299
genes = gene_presence_absence['Gene'].unique().tolist()
genes_variable = gene_presence_absence_variable['Gene'].unique().tolist()

features_df = gene_presence_absence_variable[['Gene']+isolates]
features_df = features_df.set_index('Gene')
features_df[features_df.notna()] = 1
features_df = features_df.fillna(0)

# Make sure that our rows and columns correspond to our index lists
assert list(features_df.columns) == isolates
assert list(features_df.index) == genes_variable

features_arr = np.array(features_df.values)
print(features_arr.shape)
features_arr

/tmp/ipykernel_5841/752472479.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  features_df = features_df.fillna(0)

(5341, 299)

array([[1, 1, 1, ..., 1, 1, 1],
       [1, 1, 0, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [6]:
gene_presence_absence[[col for col in gene_presence_absence.columns if col not in isolates]]

,Gene,Non-unique Gene name,Annotation,No. isolates,No. sequences,Avg sequences per isolate,Genome Fragment,Order within Fragment,Accessory Fragment,Accessory Order with Fragment,QC,Min group size nuc,Max group size nuc,Avg group size nuc
0,mvaA,NaN,3-hydroxy-3-methylglutaryl-coenzyme A reductase,299,299,1.0,1,1952,NaN,NaN,NaN,170,1295,1265
1,group_3154,NaN,hypothetical protein,299,299,1.0,1,1364,NaN,NaN,NaN,482,809,807
2,group_3212,NaN,hypothetical protein,299,299,1.0,1,5745,NaN,NaN,NaN,359,443,430
3,smc,NaN,Chromosome partition protein Smc,299,299,1.0,1,954,NaN,NaN,NaN,185,2447,2340
4,group_3340,NaN,hypothetical protein,299,299,1.0,1,2264,NaN,NaN,NaN,446,1061,781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9757,group_987,NaN,hypothetical protein,1,1,1.0,1,2339,1.0,2798.0,NaN,539,539,539
9758,group_988,NaN,hypothetical protein,1,1,1.0,1,2338,1.0,2797.0,NaN,347,347,347
9759,group_990,NaN,hypothetical protein,1,1,1.0,1,4200,1.0,2487.0,NaN,620,620,620
9760,group_993,NaN,hypothetical protein,1,1,1.0,1,4662,1.0,2778.0,NaN,347,347,347
9761,group_996,NaN,hypothetical protein,1,1,1.0,1,3298,1.0,2485.0,NaN,347,347,347

In [25]:
dissemination = pd.read_csv('../../LymeSeq_SampleTrack - Renaming Scheme Table for Jupyter.2023-02-14.csv')[['Rename_A', 'Disseminated']].dropna()
dissemination['Disseminated binary'] = dissemination['Disseminated'].apply(lambda x: dict({'L':0, 'D':1, 'ND':None})[x])
dissemination = dissemination.dropna()
regression_df = pd.merge(features_df.transpose().reset_index().rename(columns={'index':'Isolate'}), 
                         dissemination.rename(columns={'Rename_A':'Isolate'}),
                         on='Isolate')
regression_df

,Isolate,ssb,group_3572,gtaB,group_3589,group_3595,group_3728,corC,mutS2,group_3756,...,group_973,mprA_2,group_9746,group_9749,group_977,group_979,group_985,group_99,Disseminated,Disseminated binary
0,UNY202,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,D,1.0
1,URI90,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,D,1.0
2,UWI268,1,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,L,0.0
3,UWI227,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,D,1.0
4,UNY155,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,L,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,UNY152,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,L,0.0
287,UWI245,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,L,0.0
288,URI219,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,L,0.0
289,URI53,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,L,0.0
290,URI98,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,D,1.0